.card-hover {
    transition: all .2s ease-out;
}
.card-hover:hover {
    box-shadow: 5px 6px 6px 2px;
    transform: translateY(-4%)
}
.product-panel {
    display: inline-block;
    transition: all .2s ease-in-out;
    width: 100%;
    padding: 5px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    border-radius: 1rem;
    margin: .2rem 0;
    background: #ff4f00;
    background: linear-gradient(0deg,rgba(255,79,0,1) 0%,rgba(255,105,0,1) 100%);
}
